
.idea/workspace.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/motionshader.iml
motionshader/__pycache__/__init__.cpython-39.pyc
motionshader/__pycache__/core.cpython-39.pyc
